.Home h1 {
    color: #64d4d4;
}

.Home {
    margin-top: 20px;
}

.hero {
    background: #F5F5F5;
    padding: 5px 30px;
}

.hero-image {
    display: flex;
    justify-content: center;
    padding: 0px !important;
}

.hero-image img {
    height: 90vh;
}

.hero-text {
    display: flex;
    align-items: center;
    padding: 20px;
}

.hero-text p {
    font-size: 1.375rem;
}

.app-details {
    margin-top: 30px !important;
    text-align: center;
}

.app-details h5 {
    font-family: 'Nunito', sans-serif;
    color: #212B35;
}

.app-details p {
    color: #526b84;
}

.app-details .details-icon {
    font-size: 60px;
    color: #64d4d4
}

.app-detail {
    margin-bottom: 20px;
}

.logo-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}